.alinea1 {
    background-color: #0D41A8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
    margin-bottom: 50px;
}

.alinea1 h1, .alinea1 h2, .alinea1 p {
    color: white;
}

.voordelen {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.voordeel1, .voordeel2, .voordeel3 {
    text-align: center;
    padding: 50px 145px;
}

.alinea2 {
    margin: 30px 150px;
    display: flex;
    justify-content: space-around;
}

.alinea2-tekst1 {
    margin-right: 150px;
}

.alinea2 button {
    background-color: #2267F1;
    border: 2px solid #2267F1; /* Blauwe kleur van de rand van de knop in normale toestand */
    color: #fff; /* Tekstkleur van de knop in normale toestand */
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    border-radius: 30px;
    font-size: 19px;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.alinea2 button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #0D41A8, #2267F1);
    transition: left 0.5s ease;

}

.alinea2 button:hover::before {
    left: 0;
}

.alinea2 button:hover {
    background-color: transparent;
    border: 2px solid transparent;
    color: white;
}