body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: url(GuardBike_Header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 240px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 160px;
    background-color: #2267F1;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.mobile-nav {
    display: none;
}

.titel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 190px;
}

.titel h1,
.titel h2 {
    color: white;
    -webkit-text-stroke: 1px black; /* Breedte en kleur van de tekstrand */
    text-stroke: 1px black;
}

.titel h1 {
    font-size: 80px;
}

.titel h2 {
    font-size: 70px;
}



.guardbike-logo {
    width: 210px;
    height: 200px;
    margin-bottom: -100px;
}

nav {
    border-radius: 30px;
    padding: 5px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 20px;
    position: relative;
}
nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}

nav ul li a::after {
    content: "";
    position: absolute;
    bottom: 0px; /* Afstand onder de tekst aanpassen */
    left: 0;
    width: 99%;
    height: 5px; /* Hoogte van de lijn aanpassen */
    background-color: #0D41A8; /* Kleur van de lijn aanpassen */
    transform: scaleX(0);
    transform-origin: 50%;
    transition: transform 0.5s ease;
}

nav ul li a:hover::after,
nav ul li.pressed a::after {
    transform: scaleX(1);
}

nav ul li a.current-page::after {
    transform: scaleX(1); /* Toon de lijn op de huidige pagina zonder hover */
}

.inlogknop {
    background-color: #0D41A8;
    border-radius: 30px;
    padding: 10px 20px;
    transition: 0.5s;
}

footer {
    background-color: #2267F1;
    padding: 20px 150px;
    color: white;
    margin: 0;
}

footer h3 {
    font-size: 24px;
}

.informatie {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.kaart {
    border-radius: 30px;
}

h1 {
    color: #2267F1;
}

p {
    font-size: 20px;
}

.kaart {
    border-radius: 30px;
}

nav ul li.inlogknop a::after {
    display: none; /* Verberg de onderstreping voor de Inschrijven-knop */
}

nav ul li.inlogknop:hover {
    color: white;
    background-color: #093284;
    transition: 0.5s;
}

@media (max-width: 1023px) {
nav ul li a {
    padding: 10px;
    font-size: 11px;
}

.navbar {
    position: relative;
}

.mobile-nav {
    display: none;
}

footer {
    padding: 20px 50px;
}

.kaart {
    width: 300px;
    height: 200px
}

.titel {
    padding-top: 0px;
}

.titel h1 {
    font-size: 60px;
}

.titel h2 {
    font-size: 50px;
}
}


@media (max-width: 767px) {

    .guardbike-logo {
        width: 155px;
        height: 150px;
        margin-bottom: -50px;
    }

    .navbar {
        position: relative;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        margin-top: -5px;
        margin-left: 0px;
      }


      .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: #2267F1;
        transition: background-color 0.3s ease;
      }
    
    
      .hamburger .bar {
        transition: transform 0.3s, opacity 0.3s;
      }
    
      .hamburger.active .bar:nth-child(2) {
        opacity: 0; /* Verberg het middelste streepje van de hamburger bij activering */
      }
      
      .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg); /* Kantel het bovenste streepje van de hamburger */
      }
      
      .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg); /* Kantel het onderste streepje van de hamburger */
      }
    
      .mobile-nav {
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        min-height: 100vh;
        display: block;
        z-index: 999999999;
        padding-top: 50px;
        background-color: #2267F1;
        opacity: 0.9;
        margin-top: 150px;
        transition: 0.4s;
      }
    
      .mobile-nav.active {
        left: 0;
        width: 100%;
        margin-left: 0;
        border-radius: 0;
      }
    
       .mobile-nav a {
          display: block;
          text-align: center;
          width: 100%;
          max-width: 200px;
          margin: 0 auto 16px;
          padding: 12px 16px;
          background-color: #093284;
          border-radius: 20px;
          color: white;
          text-decoration: none;
        }
      
        nav ul {
            display: none;
        }

        nav {
            margin-left: 20px;
            width: 200px;
        }

        nav {
            background-color: #f2f2f2;
            padding: 29px 15px 18px 15px;
            margin: 15px;
            height: 25px;
            margin-right: 0;
            opacity: 0.9;
            width: 50px;
            list-style: none;
          }

          .titel {
            padding-top: 0px;
        }
        
        .titel h1 {
            font-size: 45px;
        }
        
        .titel h2 {
            font-size: 35px;
        }

        footer {
            padding: 20px 30px;
        }

        .informatie {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
}