.alinea1 {
    margin: 50px 150px;
}

.alinea2 {
    margin: 30px 160px;
    margin-bottom: 50px;
}

.alinea3 {
    margin: 30px 160px;
    margin-bottom: 50px;
}

.alinea4 {
    margin: 30px 160px;
    margin-bottom: 50px;
}

.alinea5 {
    margin: 30px 160px;
    margin-bottom: 50px;
}

.alinea6 {
    margin: 30px 160px;
    margin-bottom: 50px;
}

.alinea7 {
    margin: 30px 160px;
    margin-bottom: 50px;
}

